// This is the project stylesheet

// Colors
$black: rgba(0, 0, 0, 1);
$black-2: rgba(13, 46, 32, 1);
$deep-pink: rgba(255, 0, 199, 1);
$dim-gray: rgba(94, 94, 94, 1);
$dim-gray-2: rgba(106, 106, 106, 1);
$green: rgba(15, 169, 88, 1);
$light-sea-green: rgba(37, 144, 177, 1);
$medium-sea-green: rgba(55, 208, 144, 1);
$royal-blue: rgba(55, 125, 208, 1);
$silver: rgba(201, 198, 194, 1);
$transparent-cyan: rgba(0, 255, 209, 0.38);
$transparent-lawn-green: rgba(66, 255, 0, 0.47);
$transparent-orange: rgba(255, 184, 0, 0.62);
$transparent-silver: rgba(196, 196, 196, 0.6);
$white: rgba(255, 255, 255, 1);

// Typographies
@mixin helvetica-bold {
  font-family: "Helvetica";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
@mixin helvetica-regular {
  font-family: "Helvetica";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
@mixin quantico-24-regular {
  font-family: "Quantico";
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}
@mixin quantico-24-regular-line24 {
  font-family: "Quantico";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
@mixin quantico-26-bold {
  font-family: "Quantico";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
}
@mixin quantico-72-regular {
  font-family: "Quantico";
  font-size: 72px;
  font-weight: 400;
  line-height: normal;
}
@mixin roboto-24-regular {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
@mixin roboto-250-regular {
  font-family: "Roboto";
  font-size: 250px;
  font-weight: 400;
  line-height: normal;
}
@mixin roboto-26-black {
  font-family: "Roboto";
  font-size: 26px;
  font-weight: 900;
  line-height: normal;
}
@mixin roboto-36-black {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 900;
  line-height: normal;
}

.takeTurnModal {
    border-radius: 50px;
    padding: 107px 50px 109.28px 49px;
    display: flex;
  flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(
      180deg,
      $silver 0%,
      $dim-gray-2 100%
    );
    border: 5px solid $dim-gray;
    width: 1500px;
    height: 700px;
    transition: 1.1s ease-out;
    transform: scale(0.7);
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -400px;
    margin-left: -700px;
  }
@supports (offset-rotation: 0deg) {
  offset-rotation: 0deg;
  offset-path: path("M 250,100 S -300,500 -700,-200");
  .modal.off {
    offset-distance: 100%;
  }
}
  .getCardButton {
    margin-top: 100px;
    margin-left: 130px;
    border-radius: 25px;
    padding: 44.28px 58.06px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      225deg,
      $light-sea-green 15%,
      $transparent-lawn-green 100%
    );
    border: 1px solid $dim-gray;
  }
  .getCard1 {
    margin-bottom: 0.4px;
  }
  .name {
    width: 200px;
    color: $white;
    text-align: center;
    @include roboto-36-black;
  }
  .flexWrapperOne {
    margin-top: -75px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .message {
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: -50px;
    width: 100%;
    color: $black;
    display: flex;
    text-align: center;
    align-items: center;
    @include quantico-72-regular;
  }
  .fireMissileButton {
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 25px;
    padding: 60.03px 8.85px 40px 8.84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      226deg,
      $royal-blue -0%,
      $transparent-cyan 100%
    );
    border: 1px solid $dim-gray;
  }
  .missile1 {
    margin-bottom: 0.4px;
  }
  .nameTwo {
    width: 200px;
    color: $white;
    text-align: center;
    @include roboto-36-black;
  }
  .useCardButton {
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 25px;
    padding: 22.63px 58.06px 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      225deg,
      $deep-pink 0%,
      $transparent-orange 90%
    );
    border: 1px solid $dim-gray;
  }
  .specialAbility1 {
    margin-bottom: 0.4px;
  }
  .nameThree {
    width: 200px;
    color: $white;
    text-align: center;
    @include roboto-36-black;
  }