// This is the project stylesheet

// Colors
$black: rgba(0, 0, 0, 1);
$dim-gray: rgba(94, 94, 94, 1);
$dim-gray-2: rgba(106, 106, 106, 1);
$silver: rgba(201, 198, 194, 1);
$transparent-silver: rgba(196, 196, 196, 0.6);

// Typographies
@mixin quantico-72-regular {
    font-family: "Quantico";
    font-size: 72px;
    font-weight: 400;
    line-height: normal;
}

.welcomeModal {
    height: 100%;
    border-radius: 0px;
    padding: 50px 84px 65.28px 83px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
    180deg,
    $silver 0%,
    $dim-gray-2 100%
    );
    border: 5px solid $dim-gray;
}
.welcomeTo {
    height: 120px;
    width: 573px;
    color: $black;
    display: contents;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include quantico-72-regular;
}
.battleship1 {
    margin-bottom: 28px;
}
.flexWrapperOne {
    padding: 0 0 0 47px;
    display: flex;
    align-items: flex-start;
}
.group1 {
    padding: 0 3px;
    position: relative;
&:not(:last-of-type) {
     margin-right: 217px;
 }
}
.rectangle2 {
    width: 348px;
    height: 348px;
    background-color: $transparent-silver;
    border-radius: 75px;
    position: relative;
    border: 1px solid $dim-gray;
}
.createGame {
    max-width: 356px;
    color: $black;
    text-align: center;
    position: absolute;
    left: 0;
    top: 72px;
    @include quantico-72-regular;
}